STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=
JWT_SECRET=
COOKIE_SECRET=
AUTH_MFA_ENCRYPTION_KEY=
NODE_ENV=development
BACKEND_URL="http://localhost:9000"
SANITY_IMAGE_FALLBACK_URL="http://localhost:9000/static/placeholder.png"
MEDUSA_ADMIN_DASHBOARD_DISABLED === "true"

DATABASE_URL=
# ======================
# stripe ===============

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

# chargily ===========
CHARGILY_SECRET_KEY=

CHARGILY_IS_TEST_MODE=
# admin ==============
MEDUSA_ADMIN_DASHBOARD_DISABLED=

# =====
# sanity 
# add this to your Render/Vercel dashboards
x-publishable-api-key=""
PUBLISH_KEY=""
SANITY_SYNC_SECRET_TOKEN=""
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=
SANITY_API_TOKEN=

#  ============
#  =============
STORE_NAME="Algeria Whitelabel Store"
ACTIVE_SHIPPING_PROVIDER="manual_manual"       # Options: 'yalidine', 'zr-express', or 'manual_manual'
STORE_WAREHOUSE_COUNTRY="DZ"             # Options: 'DZ', 'FR', 'US' etc.
STORE_WAREHOUSE_CITY="Algiers"
STORE_WAREHOUSE_NAME="Home Office Base"
STORE_WAREHOUSE_ADDRESS="123 Rue Didouche Mourad"


# ===== 

TEST_BASE_URL=
